/*
  主题颜色
*/
$publicColor : rgb(32, 173, 157);

/*
  窗口最小宽度
*/
$windowMinWidth : 800px;

/*
  头部高度
*/
$headerHeight : 80px;

/*
  导航展开宽度
*/
$uncollapseWidth : 250px;

/*
  内容内边距
*/
$mainPadding : 8px;